
body {
	background: url("https://images.unsplash.com/photo-1421790879237-3fd1bf6cd1bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd849741774750e4465a3e0955a98c80&auto=format&fit=crop&w=1951&q=80");
}

.question {
	font-weight: 700;
	margin-top: 10px;
}

.cBlog {
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-family: Lato;
}

h